@model IEnumerable<PracticeShop.Data.Models.User>

@{
    ViewBag.Mess = "USER LIST";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { username = item.UserName }) |
                @Html.ActionLink("Details", "Details", new { username = item.UserName }) |
                @if (item.UserName != ViewBag.CurrentUsername)
                {
                    @Html.ActionLink("Delete", "Delete", new { username = item.UserName })
                }
            </td>
        </tr>
    }

</table>
